setup:
  mode: "finetuning"
  input_dir: "__INPUT_DIR__"     # directory containing *.jsonl
  output_dir: "__OUTPUT_DIR__"
  processes: 8

processing:
  huggingface_tokenizer: "__TOKENIZER__"
  max_seq_length: __MSL__
  read_hook: "cerebras.modelzoo.data_preparation.data_preprocessing.hooks:prompt_completion_text_read_hook"
  read_hook_kwargs:
    prompt_key: "prompt"
    completion_key: "completion"
  shuffle: true

dataset:
  pack_sequences: true
  
